.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scene {
  flex: 1;
  background-color: #333333;
}

.dataFields {
  flex: 0 0 80px;
  background-color: #222222;
  color: #cccccc;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
